@model List<Producto>
    @{
    ViewData["Title"] = "Solicitudes de productos agregadas";
}
<body style="background-color: #B9B9B9;">  
<div class="text-center" style="margin-top: 50px;">
    <h1 class="display-4">Solicitudes registradas en los ultimos 5 dias</h1>
</div>

<div style="margin-top: 30px; text-align: center;">
    @if (Model.Count == 0)
    {
        <div class="p-3 mb-2 bg-danger text-white">NO hay registro de Datos, Por favor registrar Productos:)</div>
    }
</div>

<div style="margin-top: 30px;">
    <div class="row">
        @foreach (var producto in Model)
        {
            <span class="border border-warning">
            <div class="col-lg-4">
                <div class="card" style="width: 18rem; margin-bottom: 20px;">
                    <img src="@producto.url_producto" class="card-img-top">
                        <div class="card-body" style="text-align: center; margin-top: 10px;">
                            <h5 class="card-title">@producto.nombre</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Descripción: </strong>@producto.descripcion</li>
                            <li class="list-group-item"><strong>Precio: </strong>@producto.precio</li>
                            <li class="list-group-item"><strong>Celular: </strong>@producto.celular</li>
                            <li class="list-group-item"><strong>Lugar: </strong>@producto.lugarcompraproducto</li>
                            <li class="list-group-item"><strong>Usuario: </strong>@producto.usuario</li>
                        </ul>
                        <div class="card-body" style="text-align: center;">
                            <form action="/Home/Eliminar" method="POST">
                                <input type="hidden" name="Id" value="@producto.id">
                                <button class="btn btn-danger">Eliminar</button>
                            </form>
                        </div>
                </div>
            </div>
            </span>
        }
    </div>
</div>
</body>